* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  overflow: auto;
}

body {
  font-family: "Open Sans";
  background: #161622;
  color: #efefef;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

div#error {
  color: #d32b2b;
  transform-origin: 0% 50%;
  transform: scale(0.5);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.32, -0.04, 0.25, 1.55);
  height: 60px;
}

div#error.visible {
  transform: scale(1);
  opacity: 1;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

label {
  margin-top: 24px;
  font-weight: 600;
}

button {
  margin-top: 24px;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  border: none;
  outline: none;
  background: #1a5fad;
  border-radius: 24px;
  padding: 6px 16px;
  color: #efefef;
  transition: background 0.1s ease-in-out;
}

button:disabled {
  background: #0f2744;
  color: #354c69;
}

button:hover:not(:disabled) {
  background: #4487d4;
  cursor: pointer;
}

button:focus {
  background: #4487d4;
  cursor: pointer;
}

button:active {
  background: #95adc9;
  cursor: pointer;
}

input {
  margin-top: 12px;
  font-family: "Open Sans";
  font-size: 24px;
  background: #141c27;
  padding: 6px 16px;
  border: none;
  outline: none;
  border-radius: 24px;
  color: #efefef;
}

input::placeholder {
  color: #202730;
}
